:root{
  --color-blue:#2778ec;
  --color-gray:#999999;
  --color-gray3: #D3D3D3;
  --color-white:white;
  --color-white1:#f1f3f6;
  --color-black: black;
  --font-sm: 0.875rem;
  --font-weight-medium:500;
  --width-1: 10%;
  --width-2: 20%;
  --width-3: 30%;
  --width-4: 40%;
  --width-5: 50%;
  --width-6: 60%;
  --width-7: 70%;
  --width-8: 80%;
  --width-9: 90%;
  --width-10: 100%;
  --height-1: 10%;
  --height-2: 20%;
  --height-3: 30%;
  --height-4: 40%;
  --height-5: 50%;
  --height-6: 60%;
  --height-7: 70%;
  --height-8: 80%;
  --height-9: 90%;
  --height-10: 100%;
  --g-half: 0.5vw;
  --g-1: 1vw;
  --g-3: 3vw;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
}

html{
  font-size: 16px;
}

body {
  font-family: "Montserrat", serif;
  background-color: var(--color-white1);
  margin: auto;
  line-height: 1;
}

.homepage {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.homepage__navbar {
  height: 4.5vh;
  padding: 1.5vh 0vw;
  background-color: var(--color-blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10vw;
}

.navbar__logo {
  height: 200px;
  width: 100px;
}

.navbar__searchbar {
  background-color: var(--color-white);
  width: 30vw;
  height: var(--height-10);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0vh 1vw;
}

.searchbar__input {
  outline: none;
  border: none;
  height: var(--height-10);
  width: var(--width-10);
  font-size: 1rem;
}

.searchbar__input::placeholder {
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  color: var(--color-gray);
}

.searchbar__logo {
  width: 25px;
  color: var(--color-blue);
}

.navbar__section1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--g-1);
  height: var(--height-10);
}

.navbar__section2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--g-3);
  height: var(--height-10);
}

.navbar__button--login {
  color: var(--color-blue);
  background-color: var(--color-white);
  padding: 1vh 2.5vw;
  font-weight: bold;
}

.navbar__button--more {
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  gap: var(--g-half);
}

.icon--downarrow--white {
  fill: var(--color-white);
}

.navbar__button--cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-white);
  font-weight: bold;
  gap: var(--g-half);
}

.icon--cart {
  width: 22px;
}

.homepage__category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  gap: 2.5vw;
  padding: 2vh 0vw;
  border-bottom: 1.7px solid var(--color-gray3);
  overflow: auto;
}

.category__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--g-1);
}

.category__image {
  height: 70px;
  width: 70px;
}

.category__name {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: var(--g-half);
  color: var(--color-black);
  font-size: var(--font-sm);
  font-weight: var(--font-weight-medium);
}

.icon--downarrow {
  width: 1rem;
  color: var(--color-black);
  stroke-width: 2.5;
}

@media (max-width: 768px) {
  html{
    font-size: 14px;
  }

  .homepage__navbar {
    justify-content: space-between;
    gap: 0vw;
    padding: 1.5vh 4vw;
  }

  .navbar__button--more {
    display: none;
  }

  .navbar__searchbar {
    display: none;
  }

  .navbar__button--cart {
    font-size: 0;
  }

  .icon--cart {
    fill: var(--color-white);
    width: 30px;
  }

  .homepage__category {
    justify-content: start;
    padding: 2vh 5vw;
  }

  .icon--downarrow-large{
    stroke-width: 2;
    width: 2rem;
  }
}